body{
text-align: center;
position: relative;}
h1 {margin: 50px auto 0 auto;
  margin-top: 50px;
font-family: 'Sacramento', cursive;
font-size: 80px;
color: #1a9cb0;}
h2 /*nonexistent*/ {font-family: 'Anonymous Pro', monospace;
color: #1a9cb0;}
hr {position: absolute;
border-style: none;
border-top-style: dotted;
border-color: grey;
border-width: 4px;
width: 5%;
 margin: auto;}
h6 {position: relative;
  margin: auto;
  font-family: 'Anonymous Pro', monospace;
font-size: 1.500rem;
font-weight: bolder;
  line-height: 2;
color: #1a9cb0;}
/**********************************class selectors*****************************/
.bluecont{background-color: #a8e7ed}
.cloud1 {width: 25%;
  position: absolute;
left: 10%;
color: white;}
.como {
  text-align: left;
  width: 25%;
  position: relative;
  margin: 30%  0 0 37%;
text-align: left;
}
.contactcontainer {
  background-color: white;
}


.divcloud {position: absolute;
top: 300px;
left: 40px}
.divcloud3 {position: absolute;
left: 450px;
}
.divcloud4{position: absolute;
right: 50px;
top: 30px;}
.entre {margin-top: 0}
.heading {text-align: center;
  position: relative;
  line-height: 2;
top: 9.000rem;}
.montanha {margin: auto;
  width: 50%;
  position:relative;
top: 30%;}
.me {margin: 1.900rem auto }
.nombre{position: absolute;
  margin: auto;
bottom: 15px;}
.r1 {text-align: center;
margin-left: 47%;
margin-top: 25%;}
.r2 {position: relative;
  margin: 5% auto 2% auto;
margin-top: 5%}
.ola {width: 25%;
  position: relative;
  margin-top: 15%;
  margin-left: 37%;
text-align: left;
}
.topcontainer {background-color: #a8e7ed;
  margin: auto;
  position: relative;}
.paraqueda1 {position: fixed;
  left: 56.25rem;
  top: 25rem;
width: 10%;}
.pilot {position: absolute;
width:50%;
margin:3% auto 5% auto;
float: left;
}
.question {
  position: absolute;
;
float: right;
margin-left: 19.300rem;
margin-top: 3.8rem;}
.secondcontainer {background-color: #a8e7ed;
text-align: center;
position: relative;
margin: auto;
top: 250px}
.subtitulo {font-weight: normal;}

.BUTTON {background-color:#44c767;
	-webkit-border-top-left-radius:28px;
	-moz-border-radius-topleft:28px;
	border-top-left-radius:28px;
	-webkit-border-top-right-radius:28px;
	-moz-border-radius-topright:28px;
	border-top-right-radius:28px;
	-webkit-border-bottom-right-radius:28px;
	-moz-border-radius-bottomright:28px;
	border-bottom-right-radius:28px;
	-webkit-border-bottom-left-radius:28px;
	-moz-border-radius-bottomleft:28px;
	border-bottom-left-radius:28px;
text-indent:0;
	border:1px solid #18ab29;
	display:inline-block;
	color:#ffffff;
	font-family:Verdana;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:39px;
	line-height:39px;
width:104px;
	text-decoration:none;
	text-align:center;
	text-shadow:2px 3px 8px #2f6627;
}.button:hover {
	background-color:#5cbf2a;
}.button:active {
	position:relative;
	top:1px;
}

/*****************************************id selectors***************/
#cloud1 {position: absolute;
  left: 20px;
}
#craud {position: absolute;
left: 20px;}


/****************************for exercises**************************/
.topbox {background-color: blue;
  height: 200px;
  width: 200px;
position: absolute;
top: 0;}

.bottombox {background-color:red;
  height: 200px;
  width: 200px;
position: absolute;
left: 200px;
top: 200px;}

 .otherbox {background-color: gold;
height: 200px;
 width: 200px;
position: absolute;
left: 400px;
top: 400px;}
